$orange-main: #FDA214;
$orange-main-hover: #FFB84A;

$white-main: #FCFCFC;
$white-dark: #F2F2F2;

$grey-light: #DFE7EC;
$grey-main: #BCCED9;
$grey-dark: #7191A5;

$blue-main: #304859;
$blue-main-hover: #6395B8;
$blue-dark: #152938;