@import '/utilities/';

.mainGame {
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		width: 572px;
		height: 572px;

		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
}
