@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Kablammo&display=swap');

body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Atkinson Hyperlegible', sans-serif;
}
